---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro'
import Work from '../components/Work.astro'
import About from '../components/About.astro'
---

<Layout title="Masaki Kleinkopf">
	<main>
		<section class="landing-page">
			<h1 class="main-heading">Masaki Kleinkopf </h1>
			<h2 class="subheading">
				Software Developer 
			</h2>
		</section>
		<Work />
		<About />
	</main>
</Layout>

<style>
	main {
		width: 100%;
		font-size: 20px;
		line-height: 1.6;
		color: black;
	}
	.landing-page {
		background: var(--gold);
		padding-left: 10vw;
		background: var(--background-splash);
		color: white;
	}
	.main-heading {
		width: 100%;
		font-size: 112px;
		text-align: left;
		margin: 0;
		background: -webkit-gradient(linear, left top, right top, from(#e6e6e6), to(#1d1c1c), color-stop(0.8, #ffffff)) no-repeat;
 		background: gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.8, #fff)) no-repeat;
  	background-size: 110px 100%;
  	-webkit-background-clip: text;
  	background-clip: text;
  	animation: flick 1.5s infinite;
	}

	.subheading {
		text-align: left;
		padding-left: 5vw;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}

	.landing-page {
		height: 100vh;
	}
</style>
