<div id="about" class="about-container">
  <h3>About</h3>
  <p class="about-text">I am a frontend focused software developer, passionate about building easy to use, modern websites. I previously worked as a professional jazz trombonist before transitioning into the world of tech. I'm always available to chat about tech, music, or my favorite food spots in LA. Feel free to reach me <a>here</a>.
</div>

<style>
.about-container {
  height: 100vh;
  padding-left: 10vw;
}

.about-text {
  border: solid 1px;
  border-radius: 50px;
  padding: 0 40px;
}

</style>