<div class="about-container">
  <a class="anchor" id="about"></a>
  <h3 class="section-heading">About</h3>
  <p class="about-text">I am a collaborative software engineer specializing in frontend web development. I'm passionate about building easy to use, modern technology. Previously, I worked as a professional jazz trombonist before transitioning into the world of tech. Outside of coding, I enjoy playing music, cooking, watching Top Chef and exploring the best food spots in LA.
</div>
<style lang="scss">
.about-container {
  padding-top: 4rem;
  height: 80vh;
}

.about-text {
  padding: 1rem 2.5rem;
  @media only screen and (min-width: 600px) {
    padding: 2rem 5rem;
	}
}

</style>