<div class="about-container">
  <a class="anchor" id="about"></a>
  <h3 class="section-heading">About</h3>
  <p class="about-text">I am a frontend focused software developer, passionate about building easy to use, modern websites. I previously worked as a professional jazz trombonist before transitioning into the world of tech. I'm always available to chat about tech, music, or my favorite food spots in LA.
</div>
<style lang="scss">
.about-container {
  padding-top: 4rem;
  height: 80vh;
}

.about-text {
  padding: 1rem 2.5rem;
  @media only screen and (min-width: 600px) {
    padding: 2rem 5rem;
	}
}

</style>