---
import CopyToClipboard from '../components/CopyToClipboard.vue'
---

<header class="nav-bar bb">
  <div class="mobile-only">
  </div>
  <nav aria-label="Main" class="desktop-only-nav">
    <a href="/#top" class="logo" >MK</a>
    <ul class="nav-items">
      <li>
        <a href="/#work">Work</a>
      </li>
      <li>
        <a href="/#about">About</a>
      </li>
      <li>
        <CopyToClipboard client:load/>
      </li>
    </ul>
  </nav>
</header>


<style lang="scss">
.nav-items {
  padding-right: 30px;
  display: flex;
  gap: 1rem;
  font-size: 1.2rem;
  li {
    display: flex;
    align-items: center;
  }
  @media only screen and (min-width: 600px) {
    font-size: 1.5rem;
    gap: 2rem;
	}
}
.desktop-only-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 4rem;
  border-bottom: solid 1.5px var(--background-primary);
  a {
    // font-size: 24px;
    &:visited {
      color: unset;
    }
    &:hover {
      color: var(--accent-orange);
    }
  }
  .logo {
    color: var(--accent-orange) !important;
    padding-left: 1rem;
    font-size: 1.5rem;
  }
}
.nav-bar {
  z-index: 100;
  position: sticky;
  top: 0;
  background: var(--background-splash);
}
</style>
