<header class="nav-bar bb">
  <div class="mobile-only">
  </div>
  <nav aria-label="Main" class="desktop-only">
    <ul class="nav-items">
      <li>
        <a href="/" >Masaki Kleinkopf</a>
      </li>
      <li>
        <a href="/#work">Work</a>
      </li>

      <li>
        <a href="/#about">About</a>
      </li>
      <!-- <li>
        <CopyToClipboard
          label="hey@bean.la"
          message-position="below"
          tooltip="click to copy email"
        />
      </li> -->
      <!-- <li>
        <DarkModeToggle />
      </li> -->
    </ul>
  </nav>
</header>