---
import GlobalHeader from '../components/GlobalHeader.astro';
import GlobalFooter from '../components/GlobalFooter.astro';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Collaborative, curious and creative software developer, specializing in frontend web development" />
		<meta name="og:type" content="website" />
    <meta name="og:title" content="Masaki Kleinkopf - Software Developer" />
    <meta name="og:description" content="Collaborative, curious and creative software developer, specializing in frontend web development" />
    <meta name="og:image" content="/portfolio-screenshot.png" />
    <meta name="og:site_name" content="Masaki Kleinkopf" />
    <meta name="og:locale" content="en_US" />
    <meta name="twitter:title" content="Masaki Kleinkopf - Software Developer" />
    <meta name="twitter:description" content="Collaborative, curious and creative software developer, specializing in frontend web development" />
    <meta name="twitter:image" :content="/portfolio-screenshot.png" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Lora:ital@0;1&display=swap" rel="stylesheet">
	</head>
	<body>
		<GlobalHeader />
		<slot />
		<GlobalFooter />
	</body>
</html>
<style lang="scss" is:global>
	* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
    }
	:root {
		--background-splash: #e8e5df;
		--background-primary: black;
		--accent-orange: #CC5500;
	}
	html {
		font-family: system-ui, sans-serif;
		background-size: 224px;
		scroll-behavior: smooth;
		background: var(--background-splash);
		font-family: 'Archivo Black', sans-serif;
		font-family: 'Lora', serif;
		color: black;
	}

	button {
		font-family: system-ui, sans-serif;
		scroll-behavior: smooth;
		font-family: 'Archivo Black', sans-serif;
		font-family: 'Lora', serif;
		color: black;
	}

	body {
		margin: 0;
	}
	a {
		color: black;
		text-decoration: none;
		&:hover {
			color: var(--accent-orange);
		}
	}
	ul {
		list-style-type: none; 
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}

.anchor {
  display: block;
  position: relative;
  top: -70px;
  visibility: hidden;
}

.section-heading {
	font-size: 3rem;
  padding-left: 2rem;
}
</style>
